* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #8e2de2, #ff6fd8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.left-section {
  flex: 1.2;
  background: linear-gradient(to bottom, #a770ef, #fdb99b);
  color: #fff;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.left-section h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.left-section p{
    font-size: 20px;
    font-weight: 40;
    font-family: sans-serif;
}

.left-section img {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
}

.right-section {
  flex: 1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.login-card input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-card a {
  font-size: 13px;
  color: #8e2de2;
  text-align: right;
  text-decoration: none;
}

.login-card button {
  padding: 12px;
  background: linear-gradient(135deg, #ff6fd8, #8e2de2);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-card button:hover {
  transform: scale(1.05);
}

#message {
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
}

#message.success {
  font-weight: 600;
  color: #1e2924;
}

#message.error {
  font-weight: 600;
  color: #550212;
}
